@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.main-section {
    height: calc(100vh - 110px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
}

/* When the navbar shrinks to 30px at max-width: 768px, 
   update .main-section to subtract 30px. */
@media (max-width: 768px) {
    .main-section {
        height: calc(100vh - 100px);
    }
}

.name-container {
    height: 68%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items:end;
    padding-right: 3rem;
    
}

.name-container img{
    width: clamp(300px, 40%, 60%);
}

/* Text styling */


.software-developer-container {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: flex-start;
}

.software-developer{
    font-size: clamp(6vh, 9vw, 12vw);
    font-family: "VT323", serif;
    margin: 0;
    
}

@media  (max-width: 1400px) {
    .name-container{
        align-items: center;
        padding: 0;
    }
}

@media  (max-width: 1200px) {
    .name-container img{
        width: clamp(300px, 50%, 60%);
    }
}



@media  (max-width: 780px) {
    /* Add your styles here */
    .name-container{
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}



/* Fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
