@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');

.main-section {
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
    height: fit-content;
}

.main-section h1 {
    font-family: "Water Brush", serif;
    font-size: 100px;
    margin: 0;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}