@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=VT323&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Geologica', sans-serif;
  scroll-behavior: smooth;

  background-image: url("./images/1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
  height: -webkit-fill-available;

  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;

  font-weight: 800;

  /* Custom transparent circle cursor with a thick black border */
  cursor: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSI4IiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==") 12 12, auto;
}
::selection {
  background: #000000;
  color: #ffffff;
}
* {
  box-sizing: border-box;
}
