@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=VT323&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Geologica', sans-serif;
  scroll-behavior: smooth;

  background-image: url("./images/1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
  height: -webkit-fill-available;

  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;

  font-weight:800;
}

* {
  box-sizing: border-box;
}
