html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth; 
  background-color: #344CB7;
  color: #FFEB00;
}

* {
  box-sizing: border-box; 
}
